
{% block content %}
<html>
<section>
<head>
    <h1>Patients and Medical Records</h1>
</head>
<body>
    <h2 class="text-xl mb-2">Patients</h2>
    <table border="1">
        <thead>
            <tr>
                <th class="px-4 py-2">id</th>
                <th class="px-4 py-2">first_name</th>
                <th class="px-4 py-2">last_name</th>
                <th class="px-4 py-2">date_of_birth</th>
                <th class="px-4 py-2">gender</th>
                <th class="px-4 py-2">contact_number</th>
            
           
            </tr>
        </thead>
        <tbody>
            {% for row in patients %}
            <tr>
                <td class="border px-4 py-2">{{ row.id }}</td>
                <td class="border px-4 py-2">{{ row.first_name }}</td>
                <td class="border px-4 py-2">{{ row.last_name }}</td>
                <td class="border px-4 py-2">{{ row.date_of_birth }}</td>
                <td class="border px-4 py-2">{{ row.gender }}</td>
                <td class="border px-4 py-2">{{ row.contact_number}}</td>
               
               
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

<!-- <section>
    <h2 class="text-xl mb-2">Conditions</h2>
    <table border="1">
        <thead>
            <tr>
                <th class="px-4 py-2">condition_id</th>
                <th class="px-4 py-2">condition_name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in conditions %}
            <tr>
                <td class="border px-4 py-2">{{ row.condition_id }}</td>
                <td class="border px-4 py-2">{{ row.condition_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section> -->

<section>
    <h2 class="text-xl mb-2">Medical Records</h2>
    <table border="1">
        <thead>
            <tr>
                <th class="px-4 py-2">id</th>
                <th class="px-4 py-2">patient_id</th>
                <th class="px-4 py-2">diagnosis</th>
                <th class="px-4 py-2">treatment</th>
                <th class="px-4 py-2">admission_date</th>
                <th class="px-4 py-2">discharge_date</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in medical_records %}
            <tr>
                <td class="border px-4 py-2">{{ row.id }}</td>
                <td class="border px-4 py-2">{{ row.patient_id }}</td>
                <td class="border px-4 py-2">{{ row.diagnosis }}</td>
                <td class="border px-4 py-2">{{ row.treatment }}</td>
                <td class="border px-4 py-2">{{ row.admission_date }}</td>
                <td class="border px-4 py-2">{{ row.discharge_date }}</td>
           


            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</section>
</html>


{% endblock %}







